.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}


body {
	font: 20px "Montserrat", sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
p {
	font-size: 16px;
}
.navbar-nav li a:hover {
	color: #1abc9c !important;
}

.bg-1 {
	background-color: #1abc9c;
	color: #fff;
}
.bg-2 {
	background-color: #db6444;
	color: #fff;
}
.bg-3 {
	background-color: #fff;
	color: #555;
}
.bg-4 {
	background-color: #2f2f2f;
	color: #fff;
}
.img-circle {
	height: 200px;
	width: 200px;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
.btn {
	color: #fff;
	background: #db6444;
	border-color: #db6444;
}
.btn:hover {
	color: #1abc9c;
	background: #db6444;
	border-color: #db6444;
	
}
.margin {
	margin-bottom: 45px;
}
.col-md-4 {
	padding-top: 70px;
}

