.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

body {
	font: 20px "Montserrat", sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
p {
	font-size: 16px;
}
.navbar-nav li a:hover {
	color: #1abc9c !important;
}

.bg-1 {
	background-color: #1abc9c;
	color: #fff;
	margin-top: 50px;
}
.bg-2 {
	background-color: #db6444;
	color: #fff;
}
.bg-3 {
	background-color: #fff;
	color: #555;
}
.bg-4 {
	background-color: #2f2f2f;
	color: #fff;
}
.img-circle {
	height: 200px;
	width: 200px;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

/* about section */
#text{
	margin: 0 auto;
	max-width: 90%;	
}
.btn {
	color: #fff;
	background: #db6444;
	border-color: #db6444;
	transition: all 0.5s;
	cursor: pointer;
}
.btn:hover, .btn:focus {
	color: #1abc9c;
	background: #db6444;
	border-color: #db6444;
}

#arrows{
	vertical-align: -2px;
}
.margin {
	margin-bottom: 45px;
}
.col-md-4 {
	padding-top: 70px;
}
/* BUTTONS IMAGE GALLERY */
.btnLightbox {
	color: #777;
	background: #fff;
	border-color: #fff;
}
.btnLightbox:hover, .btnLightbox:focus {
	color: #1abc9c !important;
	background: #fff;
	border-color: #fff;
}
.linkGallery {
	color: #555;
	text-decoration: none;
}
.linkGallery:hover {
	color: #1abc9c;
	text-decoration: none;
}

.foo {
	margin: 0;	
}
#copyright {
	margin-top: 30px;
	font-size: 12px;
}




